*.pyc
*DS_Store*
*.vscode
*.so
partition/ply_c/build
datasets/*
partition/ply_c/*
results/*
partition/cut-pursuit/*
partition/ply_c/CMakeCache.txt
partition/ply_c/CMakeFiles/
partition/ply_c/Makefile
partition/ply_c/cmake_install.cmake

S3DIS
